  html, body{
      height:100%;
  }
  #main{
    background-color:#f7f7f7;
    border:none;
    border-bottom:10px solid;
    border-image: linear-gradient(to right, #32fc97, #3fc8f2, #1f9cc2);
    border-image-slice: 1;
    position:absolute;
    overflow-y: auto;
    height:100%;
  }
  .btns{
    width:120px;
    height:40px;
    cursor:pointer;
    border:none;
    border-radius: 3px;
    background-image: linear-gradient(to right, #32fc97, #3fc8f2, #1f9cc2);
    color:#f5f5f5;
    font-weight: 550;
  }
  .btns:focus{
    outline:none;
  }
  .btns:hover{
    box-shadow: 0px 1px 2px 2px rgb(207, 207, 207);
  }
  .routingLinks{
      color:black;
  }
  .routingLinks:hover{
      text-decoration: none;
      color:black;
  }
  #backArrow{
    position:absolute;
    top:10%;
    left:5%;
    font-size: 24px;
    cursor:pointer;
    z-index:1;
  }
  @media screen and (max-width: 768px){
      .btns{
        width:80px;
        font-size: 14px;
      }
  }