  html, body{
      height:100%;
  }
  #main{
    background-color:#f7f7f7;
    border:none;
    border-bottom:10px solid;
    border-image: linear-gradient(to right, #32fc97, #3fc8f2, #1f9cc2);
    border-image-slice: 1;
    position:absolute;
    overflow-y: auto;
    height:100%;
  }
  #imgBrandNameContainer{
    display:inline-block;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    margin-bottom:20px;
  }
  #brandName{
    font-size: 32px;
    position: relative;
    top:7.5px;
    margin-left:10px;
  }
  #welcomeText{
    text-align: center;
    margin-top:10px;
    font-size: 18px;
    font-weight: 550;
  }
  .btns{
    width:120px;
    height:40px;
    cursor:pointer;
    border:none;
    border-radius: 3px;
    background-image: linear-gradient(to right, #32fc97, #3fc8f2, #1f9cc2);
    color:#f5f5f5;
    font-weight: 550;
  }
  .btns:focus{
    outline:none;
  }
  .btns:hover{
    background: linear-gradient(to right, #32fc97, #3fc8f2, #1f9cc2);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 4px 2px rgb(185, 182, 182);
  }
  .routingLinks{
      color:black;
  }
  .routingLinks:hover{
      text-decoration: none;
      color:black;
  }
  #backArrow{
    position:absolute;
    top:10%;
    left:5%;
    font-size: 24px;
    cursor:pointer;
    z-index:1;
  }
  @media screen and (max-width: 768px){
      .btns{
        width:80px;
        font-size: 14px;
      }
  }